# Environment variable
.env

# Node
node_modules

# Lock files
yarn.lock
package-lock.json

# Error logs
yarn-error.log

# Test coverage
coverage

# Builds
dist
bin

# Production based files
config.json